



.default_button
  width: 9vw
  height: 1.75vw
  font-family: "Rubik","sans-serif"
  font-size: calc(min(1.25vw, 1rem))
  display: inline-flex
  align-items: center
  justify-content: center


@media screen and (max-aspect-ratio: 13/9)
  .default_button
    height: 4vw
    font-size: calc(min(1.75vw, 1.5rem))

