@mixin theme($aspect: 4/2)
  background-color: #f5f8ff
  border-radius: 1.0vw
  position: fixed
  display: flex
  top: 50vh
  left: 50vw
  width: 40vw
  aspect-ratio: $aspect
  transform: translate(-50%, -50%)

@keyframes fade_in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade_out
  0%
    opacity: 1
  100%
    opacity: 0


#login
  @include theme

#register
  @include theme ($aspect: 4/3)

#form
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  align-items: center
  justify-content: center

.text_input
  aspect-ratio: 7

#close
  position: absolute
  right: 1vw
  top: 1vh
  cursor: pointer

.label
  display: inline-block
  width: 10vw
  text-align: right
  padding-right: 0.25rem

button
  padding-left: 1rem
  padding-right: 1rem
  font-family: "Rubik","sans-serif"

@media screen and (max-aspect-ratio: 13/9)
  #login, #register
    width: 80%

  .label
    display: inline-block
    width: 15vw
