*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html
{
    width:calc(100vw - (100vw - 100%));
    font-family:"Rubik","sans-serif";
    font-weight:300;
    font-size:1.25em;
    background-color: #cddcff;
}

body
{
    margin:0;
}

input[type="text"]
{
    font-size:24px;
}

#main_container
{
    display: flex;
    flex-direction: column;
}

#results_center_container
{
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    width:40%;
    margin-top:1vw;
    padding:1vw;
    height:100%;
}

#results_side_container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#ffffff;
    margin-top:1vw;
    padding:1vw;
    width:26vw;
}

#results_root
{
    display: flex;
    flex-direction: row;
}

.result_container
{
    display:flex;
    flex-direction: row;
    background-color: #ffffff;
}

.result_container:last-child
{

}

.result_image
{
    height: 100%;
}


.result_name
{
    height:100%;
    display:flex;
    align-items:center;
}


.result_price
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: "Rubik","sans-serif";
    font-weight: 600;
    color:#555;
}


.result_provider
{

}

.side_panel
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:30%;
}

@media (orientation: portrait)
{
    .side_panel
    {
        display: none;
    }
}


@media (orientation: portrait)
{

    #search_form_input
    {

    }

    #search_form_button
    {

    }

    #results_center_container
    {

    }

    .result_container
    {

    }

    .result_name
    {

    }

    .result_price
    {

    }

    .result_provider
    {

    }

}