*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html
{
    width:calc(100vw - (100vw - 100%));
    font-family:"Rubik","sans-serif";
    font-weight:300;
}

#background
{
    position: fixed;
    width:calc(100vw - (100vw - 100%));
    height: 100%;
    background:linear-gradient(0deg, #e6e675 10%, #5be5e5 50%);
    z-index: -1;
}

body
{
    margin:0;
}

.break_line
{
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


.bordered_field
{
    border:0.02vw solid rgba(0, 59, 168, 0.5);
}


.results_side_container
{
    background-color: #fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:1vw;
    padding:1vw;
    width:90%;
}


#results_root
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
}

#results_left_container
{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

#results_center_container
{
    padding: 1vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
}


#results_right_container
{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
}


.result_container
{
    margin-bottom: 1vw;
    position: relative;
    background-color: #ffffff;
    width: 96%;
    aspect-ratio: 4.5;
}


.result_container:hover .fav_but
{
    position:absolute;
    height: 18%;
    aspect-ratio:1;
    margin: 2%;
    background-color: #ff0;
    right: 0;
    top: 0;
    cursor: pointer;
}


.result_image
{
    height:70%;
    left:10%;
    top:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.result_name
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:80%;
    left:20%;
    top:50%;
    width:54%;
    transform: translate(0%, -50%);
}

.result_price
{
    position: absolute;
    right: 5%;
    top: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    color:#555;
    transform: translateY(-50%);
}

.result_provider
{
    width:7vw;
    background-color: purple;
}

.side_panel
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:30%;
}

.price_charting_item
{
    background-color: #ebedf2;
    display:flex;
    flex-direction:row;
    padding:0.075vw;
    padding-left:0.2vw;
    padding-right:0.2vw;
    margin-bottom:1vw;
}

.font_s
{
    font-size: calc(min(1vw, 1.25rem));
}



@media screen and (max-aspect-ratio: 13/9)
{
    .font_s
    {
        font-size: calc(min(2.5vw, 3rem));
    }

    #results_root
    {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto auto;
        margin-left: 2%;
    }

    #results_left_container
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
    }

    #results_right_container
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
    }

    #results_center_container
    {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 1vw;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result_container
    {
        width:74vw;
        height:16vw;
    }

    .result_provider
    {
        width:12vw;
    }

}