#user_menu_container
  position: absolute
  top: 100%
  right: 0%
  background-color: #f0f

#menu_button
  cursor: pointer
  height: 2vh

@media screen and (max-aspect-ratio: 13/9)
  #menu_button
    cursor: pointer
    height: 3vh