#user_menu_container
  position: absolute
  top: 100%
  right: 0%
  display: flex
  flex-direction: column
  align-content: center
  padding: 1vw

#menu_button
  cursor: pointer
  height: 2vh

@media screen and (max-aspect-ratio: 13/9)
  #menu_button
    cursor: pointer
    height: 3vh